#MAVEN
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

#ECLIPSE
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Linux
*~

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse


# Plugin lib
eclipse-plugin/lib/*.jar

# Test files
testDirectoryOutput.zip
zippingDeciderTest.zip

# LaTeX
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.synctex.gz
