<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="TMC"
            id="fi.helsinki.cs.plugins.eclipse.tmc.commands.category">
      </category>
      <command
            name="Settings"
            categoryId="fi.helsinki.cs.plugins.eclipse.tmc.commands.category"
            id="fi.helsinki.cs.plugins.eclipse.commands.settingsCommand">
      </command>
      <command
            name="Exercises"
            categoryId="fi.helsinki.cs.plugins.eclipse.tmc.commands.category"
            id="fi.helsinki.cs.plugins.eclipse.commands.exercisesCommand">
      </command>
      <command
            name="Run Tests"
            categoryId="fi.helsinki.cs.plugins.eclipse.tmc.commands.category"
            id="fi.helsinki.cs.plugins.eclipse.commands.testRunnerCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="fi.helsinki.cs.plugins.eclipse.commands.settingsCommand"
            class="tmc.handlers.SettingsMenuHandler">
      </handler>
      <handler
            commandId="fi.helsinki.cs.plugins.eclipse.commands.exercisesCommand"
            class="tmc.handlers.ExerciseSelectorHandler">
      </handler>
      <handler
            commandId="fi.helsinki.cs.plugins.eclipse.commands.testRunnerCommand"
            class="tmc.handlers.TestRunnerHandler">
      </handler>
   </extension>
   <extension 
		point="org.eclipse.ui.startup">
   		<startup class="tmc.activator.CoreInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="fi.helsinki.cs.plugins.eclipse.commands.settingsCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="TMC"
               mnemonic="C"
               id="fi.helsinki.cs.plugins.eclipse.menus.tmcMenu">
            <command
                  commandId="fi.helsinki.cs.plugins.eclipse.commands.settingsCommand"
                  mnemonic="S"
                  id="fi.helsinki.cs.plugins.eclipse.menus.settingsCommand">
            </command>
            <command
                  commandId="fi.helsinki.cs.plugins.eclipse.commands.exercisesCommand"
                  mnemonic="E"
                  id="fi.helsinki.cs.plugins.eclipse.menus.exercisesCommand">
            </command>
            <command
                  commandId="fi.helsinki.cs.plugins.eclipse.commands.testRunnerCommand"
                  mnemonic="T"
                  id="fi.helsinki.cs.plugins.eclipse.menus.testRunnerCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="fi.helsinki.cs.plugins.eclipse.toolbars.TmcSettingsToolbar">
            <command
                  commandId="fi.helsinki.cs.plugins.eclipse.commands.settingsCommand"
                  icon="icons/sample.gif"
                  tooltip="TMC settings"
                  id="fi.helsinki.cs.plugins.eclipse.toolbars.settingsCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

	<extension point="org.eclipse.ui.views">
        <view id="fi.helsinki.cs.plugins.eclipse.views.tmcTestUi"
             name="Label View"
             icon="icons/sample.gif"
          class="tmc.ui.TestRunnerDialog"/>
	</extension>
</plugin>
